
@{
    ViewBag.Title = "FormSubmitted";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Form Submitted!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Thank you! Your response has been recorded.</p>
        <a href="/home" class="card-link">Go back</a>
        <a href="/form/create" class="card-link">Submit another response</a>
    </div>
</div>